footer{
    background-color: #272E38;
    padding-top: 64px;
    padding-bottom: 61px ;
}
.footer_container{
    flex-flow: row nowrap;
    max-width: 90%;
}
.footer_img{
    flex: 0 1 30%;
}
.footer_info{
    flex-flow: column nowrap;
    flex: 0 1 70%;
}
.footer_menu{
    flex-flow: row nowrap;
}
.footer_menu ul{
    flex-flow: column nowrap;
    flex: 0 0 27%;
    row-gap: 17px;
}
.footer_menu li a{
    font: 400 0.8125rem/1.3125rem 'Roboto';
    color: var(--white);
}
.footer_menu li{
    align-self: flex-start;
}
.footer_menu .subscribe{
    flex: 0 0 33%;
    flex-flow: column nowrap;
}
.subscribe span, .sign-up{
    font: 400 0.875rem/1.25rem 'Roboto';
    color: var(--white);
}
.subscribe .sign-up{
    color: var(--blue);
    background-color: var(--pure-white);
    align-self: flex-start;
    margin: 15px 0 72px;
}
.subscribe .sign-up:hover{
    background-color: var(--blue);
    color: var(--pure-white);
}
.subscribe .lang{
    font: 400 0.6875rem/1.0625rem 'Roboto';
    color: var(--pure-white);
    background: none;
    border: 1px solid #3D434C;
    border-radius: 5px;
    padding: 12px 0 11px;
}
.subscribe .lang span{
    color: #9CA5B0;
    font: 400 0.6875rem/1.0625rem 'Roboto';
    padding-left: 3px;
}
.subscribe .lang:hover{
    color: var(--blue);
    background-color: var(--pure-white);
}


.policies{
    flex-flow: column nowrap;
    margin-top: 93px ;
    row-gap: 21px;
}
.policies li, .policies_link{
    font: 400 0.6875rem/1.0625rem 'Roboto';
    color: #9CA5B0;
}
.policies .policies_link{
    border-bottom: 1px solid #9CA5B0;
}
.policies .policies_link:hover{
    color: var(--pure-white);
}