:root{
    --pure-white:#ffffff;
    --white:#DADBDD;
    --blue: #1B365D;
    --dark-grey: #434141;
    --medium-grey: #615E5C;
    --light-grey: #AEABA8;
    --almost-black: #434140;
    --light-turquoise: #D0E8EA;
    --dark-turquoise: #ADD4E0

}

